.container {
    padding: 2rem 20rem;
}
.mat-card-title {
    text-align: -webkit-center;
}

.book-list{
    margin-top: 2rem;
    padding: 0rem 5rem;
}

::ng-deep .mat-form-field-infix {

    display: inline-flex!important;
}
